<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="gcBlockWidth" value="50"/>
    <add key="gcBlockHeight" value="50"/>
    <add key="gcBlockDepth" value="50"/>
    
    <add key="blockCountX" value="1"/>
    <add key="blockCountY" value="1"/>
    <add key="blockCountZ" value="1"/>
    
    <add key="gcRenderFrequency" value="999"/>
    <add key="gcPulseFrequency" value="1"/>
    <add key="gcClearFrequency" value="50"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>